@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

body {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
  color: $main-blue;
  opacity: 0.39;

  @include breakpoint(xl) {
    font-weight: 700;
    font-size: 2.25rem;
  }
}

.page {
  position: absolute;
  width: 100%;
}

.button-blue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.75rem;
  width: 15rem;
  font-size: 18px;
  margin-top: 0.75rem;
  background-color: $main-blue;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.arrow-base {
  position: relative;
  width: 1rem;
  height: 2px;
  background-color: white;
  border-radius: 1px;

  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
    bottom: 3px;
    left: 7px;
    border-radius: 1px;
  }

  &::after {
    @extend .arrow-base, ::before;
    transform: rotate(-45deg);
    top: 3px;
  }
}

.cross-base {
  position: relative;
  top: 25%;

  &::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2px;
    top: 25%;
    background-color: rgba(22, 44, 78, 0.6);
    transform: rotate(45deg);
  }

  &::after {
    @extend .cross-base, ::before;
    transform: rotate(-45deg);
  }
}

.text-underscore {
  position: relative;

  & p::after {
    position: absolute;
    content: '';
    background: none repeat scroll 0 0 transparent;
    bottom: 0.5rem;
    height: 2px;
    width: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.103);
    transition: 0.3s ease;

    @include breakpoint(m) {
      bottom: -0.5rem;
    }
  }

  &:hover p::after {
    width: 100%;
    left: 0;
    background-color: white;
  }
}

.fade-in-down {
  animation: fadeInDown 1.5s;
  animation-fill-mode: forwards;
}

.fade-in-left {
  animation: fadeInLeft 2s;
  animation-fill-mode: forwards;
}

.fade-in-right {
  animation: fadeInRight 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }

  60% {
    transform: translateY(-1rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate(-3rem, -2rem);
    opacity: 0;
  }

  60% {
    transform: translate(-3rem, -2rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translate(3rem, -2rem);
    opacity: 0;
  }

  60% {
    transform: translate(3rem, -2rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}